<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--<form class="initform" method="post" accept-charset="utf-8">
        <div class="from-group">
            <label>输入内容</label>
            <input class="form-control createContent" type="text" name="content" placeholder="Enter Todo" />
        </div>
        <div class="from-group" style="margin: 10px 0px;">
            <button type="button" class="btn btn-info" onclick="ceateItem()">新增</button>
        </div>
    </form>-->
</body>
<script>
    //创建数据
  /*  function ceateItem() {
        var obj = {};
        obj.content = $('.createContent').val();
        if (obj.content != '') {
            $.post('http://localhost:3000/create', obj, function (res) {
                console.log('新增成功');
                // searchItem();
            })
        } else {
            alert('不能为空');
        }
    };*/
</script>
</html>